.mb-2{
    width: 500px
}

h2{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.darkcolor{
    background-color: rgb(7, 4, 84) !important;
}

.footer{
    position: fixed;
    background-color: rgb(7, 4, 84) !important;
    border-top: 1px white solid;
    bottom: 0px;
    width: 100%;
    text-align: center  !important;
    font-style: italic;
}

/* body{
    padding-top: 100rem !important;
    color: #6c757d;
} */